body{
    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 70px;
    color: #333;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


a:hover, a:focus{
    color: #7b7b7b;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-inverse .navbar-brand{
    color: #999;
    font-size: 22px;
    letter-spacing: 1px;
}

#headerWrap{
    background: url(../Images/maxresdefault.jpg) no-repeat center top;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Map h4 {
    font-size: 35px;
}

#Map img {
    width: 90%;
    padding-left: 100px;
}

#headerWrap h1 {
    margin-top: 130px;
    color: #A60000;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerWrap h2 {
    margin-top: 100px;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;

}

.navbar {
    opacity: 0.90;
}

.dropdown-menu {
    background-color: #1E1E1E;
}

.dropdown-menu>li>a {
    font-style: italic;
    font-size: 14px;
    color: white;
} 

#silverBk {
    background: #e0e0e0;
    padding-top: 5px;
    padding-bottom: 70px;
}

#silverBk i {
    padding-top: 25px;
}

#silverBk img:hover{
    height: 500px;
    margin-bottom: -100px;
}  

#Filter {
    color: #000;
}

.W i {
    font-size: 30px;
}

.W img {
        
    border-radius: 5px;
}

.galleryImg div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#cams img {    
    height: 458px;
    border-radius: 5px;
}

/* .photo-carousel img {
    height: auto;
    width: 80%;
} */


/* .thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
} */




#ft {
    background: #2d2d2d;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ft h4 {
    font-size: 35px;
    color: #bdbdbd;
}

#ft i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#ft i:hover {
    color: #ff7878;
}

#ft p {
    font-size: 14px;
    color: white;
}

#ft button {
    color: #999;
    background-color: #555;
}

#hz {
    background: #E0E0E0;
}

#hz span {
    font-size: 15px;
}

#hz img {
    padding-top: 30px;
    padding-bottom: 30px;

}

#Heads {
    background: #E0E0E0;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

#Heads h4 {
    font-size: 35px;
    color: #A60000;
}

#roots {
    background-color: white;
    padding-top: 50px;
    padding-left: -25px;
    padding-bottom: 50px;
}

#roots_1 {
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

#doixaty {
    background-color: white;
    padding-top: 25px;
    padding-left: 100px;
    padding-bottom: 25px;
}

#doixaty h4 {
    font-size: 35px;
    color: blue;
}

#tarif {
    background: #E0E0E0;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

#tarif h4 {
    font-size: 35px;
    color: #A60000;
}

#tarif span {
    font-size: 20px;
    padding-bottom: 50px;
}

#Heads_Liv {
    background: #E0E0E0;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}

.hom{
    background: white;
}

.hom img {
    padding-top: 45px;
}

#info-home {
    padding-top: 12px;
    color: #555;
}

#info-home-1 {
    padding-top: 12px;
    color: #00b9b5;
}

.hotels-list .hotels-list-item .book-room .choose-room {
    display: block;
    margin-top: 15px; 
}


.img-wrp {
    padding-top: 15px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 235px;
    -webkit-flex: 0 0 235px;
    flex: 0 0 235px;
    min-height: 235px;
    size: cover;
    position: center;
    border-radius: 10px; 
    border: 1px solid #000;
}


.img-wrap {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 235px;
    -webkit-flex: 0 0 235px;
    flex: 0 0 235px;
    min-height: 235px;
    background-size: cover;
    background-position: center;
    border: none; 
}

.info-block-title {
    font-size: 24px;
    display: inline-block;
    color: #000;
    background: #fff;
    position: relative;
    top: -15px;
    margin: 0;
    white-space: nowrap;
    padding: 0 10px; 
}

.info-block-box {
    height: 250px;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    border: none;
    margin-bottom: 20px;
    border-radius: 6px; 
}

.info-block-box .img-wrap {
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: #0c2c41; 
}
.info-block-box .info-block-title {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    opacity: 1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80000000', GradientType=0);
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear; 
}
.info-block-box .info-block-title .more-info {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    max-height: 0;
    overflow: hidden; 
}
.info-block-box .info-block-title .actions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; 
}
 .info-block-box .info-block-title .actions li {
  margin-right: 10px; 
}
.info-block-box .info-block-title .actions a {
    font-size: 14px;
    display: block;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: 300;
    opacity: 0.5;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    white-space: nowrap;
    margin-top: 10px; 
} 
 .info-block-box .info-block-title .actions a:hover {
    background: #00b9b5;
    border-color: #00b9b5; 
} 
 .info-block-box:hover {
  border: none; 
} 
.info-block-box:hover .img-wrap {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
}

.info-block-box:hover .info-block-title {
    opacity: 1;
    background: transparent; 
    /* Old browsers */
    /* FF3.6+ */
     /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 40, 70, 0.9)));  */
    /* Chrome,Safari4+ */
     /* background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 40, 70, 0.9) 100%);  */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
     background: linear-gradient(to bottom, transparent 0%, rgba(0, 40, 70, 0.9) 100%); 
    /* W3C */
     /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);  */
    /* IE6-9 */
} 

.info-block-box:hover .info-block-title > span {
    text-decoration: underline; 
}

.info-block-box:hover .info-block-title .more-info {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    max-height: 300px;
    margin: 10px 0 0 0; 
}

.info-block-box:hover .info-block-title .more-info:empty {
    display: none; 
}

.info-block-box:hover .info-block-title .actions a {
    opacity: 1; 
}  


